<section class="section">
	<div class="block-title">
		<h2 class="section-title">Новости</h2>
		<div class="block-line"></div>
	</div>
	

	<div class="bullets-items">
		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
		

	
	</div>
</section>