[viewBag]

[builderList postList]
modelClass = "Iamk\Blog\Models\Blog"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 20
pageNumber = "{{ :page }}"
==
{% set records = postList.records %}
{% set displayColumn = postList.displayColumn %}
{% set noRecordsMessage = postList.noRecordsMessage %}
{% set detailsPage = postList.detailsPage %}
{% set detailsKeyColumn = postList.detailsKeyColumn %}
{% set detailsUrlParameter = postList.detailsUrlParameter %}

<section class="section">
	<div class="block-title">
		<h2 class="section-title">Новости</h2>
		<div class="block-line"></div>
	</div>
	

	<div class="bullets-items">
    {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                		<a href="#" class="blog-item" style="background-image: url({{ 'assets/images/shutterstock_1299308713-2.png'|theme }})">
			<div class="services-item_holder">
				<h3 class="blog-item_title">Мобильное приложение</h3>
				<p class="blog-item_text">В число наиболее востребованных услуг охранной фирмы входит охрана квартир</p>
			</div>
		</a>
            {% endspaceless %}
        </li>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}




			
	</div>
</section>