[builderList bulletList]
modelClass = "Iamk\Banner\Models\Bullets"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[viewBag]
==
{% set records = bulletList.records %}
{% set displayColumn = bulletList.displayColumn %}
{% set noRecordsMessage = bulletList.noRecordsMessage %}
{% set detailsPage = bulletList.detailsPage %}
{% set detailsKeyColumn = bulletList.detailsKeyColumn %}
{% set detailsUrlParameter = bulletList.detailsUrlParameter %}

    {% for record in records %}
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
				<section class="section">
					<div class="block-title">
						<h2 class="section-title">{{ record.title }}</h2>
						<div class="block-line"></div>
					</div>

					<p class="adv-text">{{ record.text }}</p>

					<div class="bullets-items">
						<div class="bullets-item">
							<div class="bullet-item_icon">
								<img alt="{{ record.adv_title_1 }}" src="{{ record.adv_icon_1|media }}">
							</div>
							<h3 class="bullet-item_title">{{ record.adv_title_1 }}</h3>
							<p class="bullet-item_text">{{ record.adv_text_1 }}</p>
						</div>
						<div class="bullets-item">
							<div class="bullet-item_icon">
								<img alt="{{ record.adv_title_2 }}" src="{{ record.adv_icon_2|media }}">
							</div>
							<h3 class="bullet-item_title">{{ record.adv_title_2 }}</h3>
							<p class="bullet-item_text">{{ record.adv_text_2 }}</p>
						</div>
						<div class="bullets-item">
							<div class="bullet-item_icon">
								<img alt="{{ record.adv_title_3 }}" src="{{ record.adv_icon_3|media }}">
							</div>
							<h3 class="bullet-item_title">{{ record.adv_title_3 }}</h3>
							<p class="bullet-item_text">{{ record.adv_text_3 }}</p>
						</div>
					</div>
				</section>
            {% endspaceless %}
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}


