<section class="section">
	<div class="block-title">
		<h2 class="section-title">Контакты</h2>
		<div class="block-line"></div>
	</div>
	
	<p class="adv-text">Основные принципы, которым следует наша компания — это ориентация на бескомпромиссное качество предоставляемых охранных услуг, максимальный охват возможных услуг, связанных с охранной и безопасностью, а так же индивидуальный подход к каждому клиенту. За время работы компания «КРОК» накопила опыт охраны объектов от небольшой частной недвижимости до промышленных гигантов, обеспечения личной охраны, установки систем охраны и безопасности всех известных мировых брендов.</p>

	<div class="contact">
		<div class="contact-items">
			<div class="contact-item">
				<div class="contact-icon"><img src="{{ 'assets/images/pin.svg'|theme }}" alt=""></div>
				<div class="contact-text">г. Днепр, ул. Шевченко, д. 20, <br>офис 10 </div>
			</div>
			<div class="contact-item">
				<div class="contact-icon"><img src="{{ 'assets/images/pin.svg'|theme }}" alt=""></div>
				<div class="contact-text">г. Днепр, ул. Шевченко, д. 20, <br>офис 10 </div>
			</div>
			<div class="contact-item">
				<div class="contact-icon"><img src="{{ 'assets/images/pin.svg'|theme }}" alt=""></div>
				<div class="contact-text">г. Днепр, ул. Шевченко, д. 20, <br>офис 10 </div>
			</div>
		</div>
		<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.8194271983784!2d35.04946811566029!3d48.45999407925048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2dbfb1c9b57%3A0x8937a27bae624162!2z0YPQuy4g0KjQtdCy0YfQtdC90LrQviwgMjAsINCU0L3QuNC_0YDQviwg0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1sru!2sua!4v1598332073651!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>
</section>