<div class="form-payment" >
    <h3 class="feedback-title">Опалата услуг</h3>
    <form action="/" class="feedback-modals_form">
        <input type="text" class="input-field documentId" placeholder="Введите номер договора">
        <input type="email" class="input-field fio" placeholder="ФИО заказчика">
        <input type="phone" class="input-field phone" placeholder="Ввидете телефон">
        <input type="text" class="input-field adress" placeholder="Введите адрес">
        <input type="text" class="input-field paymentTerm" placeholder="Период оплаты">
        <input type="phone" class="input-field sum" placeholder="Сумма оплаты">
        <button type="submit" value="Оставить заявку" class="btn-lrg primary-button --unselectable">Оставить заявку</button>
    </form>
</div>

<style>
    .form-payment {
        padding: 60px 20%;
    }
</style>