<div class="post main-banner">
    <div class="slide post-picture" style="background: url( {{ 'assets/images/main-banner/item-1.png'|theme }} ) ;">

        <h1 class="main-banner-item__title">{{ record.title }}</h1>
        <p class="main-banner-item__description">
            {{ record.description }}
        </p>
        <a href="{{ record.button_url }}" class="btn-lrg secondary-button --unselectable">{{ record.button_text }}</a>
    </div>
</div>

<section class="section post">
    <div class="post-content">
        <p class="text">Основные принципы, которым следует наша компания — это ориентация на бескомпромиссное качество предоставляемых охранных услуг, максимальный охват возможных услуг, связанных с охранной и безопасностью, а так же индивидуальный подход к каждому клиенту. За время работы компания «КРОК» накопила опыт охраны объектов от небольшой частной недвижимости до промышленных гигантов, обеспечения личной охраны, установки систем охраны и безопасности всех известных мировых брендов.</p>
    </div>
</section>